.back1 { width: 200px;
    height: 300px;
    color : green;
    margin : 10px;
    border-style:solid;
    background-color : white;
    display : none;} 

.clockSystem { float : left;
            margin : 10px;
           }

.buttonSystem { float : left;
             
            padding : 10px;}

.resetButton { width : 100px;
            color : red;
            background-color : red;
         }