.back1 { width: 300px;
    height: 400px;
    color : green;
    margin : 20px;
    border-style:solid;
    background-color : white;
    display : none;} 

.clockSystem { float : left;
            margin : 30px;
            padding : 10px;}

.buttonSystem { float : left;
             margin : 10px;
            padding : 10px;}

.resetButton { width : 100px;
            color : red;
            background-color : red;
         }